/* .heading {
  margin: 0;
  padding: 0px;
  background-color: darkslategray;
  color: white;
  text-align: center;

} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(90deg, #93416d 0%, #2f7092 100%);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: larger;
}

a:active {
  background-color: red;
}

.left {
  float: left;
}

.left>p {
  margin: 0;

  display: block;
  color: white;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: larger;
}

.heading>h1 {
  padding: 17px;
  margin: 0;
}